<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.newnc.discovermovie">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_pancadao"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.FirstQuestion"></activity>
        <activity android:name=".view.SecondQuestion"></activity>
        <activity android:name=".view.ThirdQuestion"></activity>
        <activity android:name=".view.Results"></activity>
        <activity android:name=".view.MovieDescription"></activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        
        <provider
            android:authorities="com.facebook.app.FacebookContentProvider972480406190271"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>